<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post" action="/loginProc">
    <input  type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
  <input type="text" name="id">
  <input type="password" name="pw" maxlength="32" >
  <button type="submit">로그인</button>
</form>
</body>
</html>