<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
  .ck-editor__editable { height: 600px;  }
   .ck-content { font-size: 12px; }

</style>
<body>
<nav th:replace="fragments/top :: top"></nav>
<br><br><br>
<div class="container">
    <form class="form-horizontal" action="/idea/ideaInsert" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <select name="categoryCd"
                        class="form-control input-sm" required="required">
                    <option value="">-- 전체 --</option>
                    <option th:each="category : ${categoryList}" th:value="${category.categoryCd}"
                            th:text="${category.categoryName}"
                    ></option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="title" id="title" placeholder="제목" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <textarea name="content" id="editor" required="required"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col width="20%"/>
                <col/>
            </colgroup>
            <tr>
                <th>첨부파일
                    <button type="button" id="id_btn_new_file">추가</button>
                </th>
                <td class="file_area">
                    <div class="form-inline">
                        <input type="file" name="boFiles" class="form-control">
                        <button type="button" class="btn_delete btn btn-sm">삭제</button>
                    </div>
                </td>
            </tr>
        </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">글 등록</button>
            </div>
        </div>
    </form>
</div>
</body>

<script type="text/javascript">
	$('#id_btn_new_file').click(function(){
		$('.file_area').append('<div class="form-inline">'
		+ '<input type="file" name="boFiles" class="form-control">'
		+ ' <button type="button" class="btn_delete btn btn-sm">삭제</button>' + '</div>');
		});
	$('.file_area').on('click','.btn_delete', function(){
		$(this).closest('div').remove();
		});
</script>


<script type="text/javascript" src="/ckeditor4_2/ckeditor.js"></script>
<script>
$(function () {
	CKEDITOR.replace('editor', {
		filebrowserUploadUrl : '/idea/fileUpload'
		  ,height : 400
	});
});
</script>

</html>